body {
  margin: 0;
  font-family: "Sansation";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Sansation";
  src: local("Sansation"),url("./fonts/Sansation_Light.ttf") format("truetype");
  font-weight: normal;
}
  
